<h1>Show Post</h1>

<ul>

  <li>
    <strong>User:</strong>
    <%= @post.user_id %>
  </li>

  <li>
    <strong>Yesterday:</strong>
    <%= HtmlSanitizeEx.markdown_html @post.yesterday %>
  </li>

  <li>
    <strong>Today:</strong>
    <%= HtmlSanitizeEx.markdown_html @post.today %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
