<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <label for="email_address_or_username">Your friend email address or username</label>
  <%= text_input f, :email_address_or_username %>
  <%= error_tag f, :email_address_or_username %>

  <div>
    <%= submit "Request" %>
  </div>
<% end %>
