<h1>New Friend request</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.friend_request_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.friend_request_path(@conn, :index) %></span>
